.advantages{
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;



    &__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 -20px;
    }

    &__item{
        width: 33.333333%;
        padding: 0 20px;
        text-align: center;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
            
        }
        img.animated_heart {
            animation: heartbeat 1.5s ease infinite;
            &:hover{
                animation-play-state: paused;
            } 
              
        }
        img.animated_shoes{
            animation: shoesrun 1.5s cubic-bezier(1,0,0,.5) infinite;
            &:hover{
                animation-play-state: paused;
            } 

        }
        img.animated_cup {
            animation: cupfly 3s linear infinite;
            &:hover{
                animation-play-state: paused;
            }
        }
    }

    &__text{
        font-size: 14px;
        font-weight: 300;;
        line-height: 20px;
        text-align: center;
        color: #0d0d0d;

        span{
            text-transform: uppercase;
            color: red;
        }
    }
}