.comment{
    padding-bottom: 61px;
    overflow: hidden;
    
    &__item{
        margin-top: 100px;
        display: flex;
        &:nth-child(1){
            margin-top: 70px;
        }
    }
    &__img{
        margin-right: 62px;
        flex-shrink: 0;
       
    }
    &__description{
        width: 650px;
    }
    &__subtitle{
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        font-stretch: normal;
        color: #0d0d0d;
        margin-bottom: 19px;
        
        span{
            display: block;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 300;
            color: #646464;
        }
    }

    &__text{
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        color: #0d0d0d;
        
    }
}